Repository sushant-kum/ng-weather-radar: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "ng-lint-staged lint --fix --",
  "*.{css,html,js,json,md,scss,ts}": "prettier --write"
}

build: added scully as SSG
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  scully.ng-weather-radar.config.ts
  scully/plugins/plugin.ts
  scully/tsconfig.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/pages/root/root-routing.module.ts
  src/app/pages/root/root.component.html
  src/app/pages/root/root.component.scss
  src/app/pages/root/root.component.spec.ts
  src/app/pages/root/root.component.ts
  src/app/pages/root/root.module.ts
  src/assets/scully-routes.json
  src/polyfills.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: added 404 page
  src/app/app-routing.module.ts
  src/app/pages/http-error-not-found/http-error-not-found-routing.module.ts
  src/app/pages/http-error-not-found/http-error-not-found.component.html
  src/app/pages/http-error-not-found/http-error-not-found.component.scss
  src/app/pages/http-error-not-found/http-error-not-found.component.spec.ts
  src/app/pages/http-error-not-found/http-error-not-found.component.ts
  src/app/pages/http-error-not-found/http-error-not-found.module.ts
  src/assets/scully-routes.json
Due: ng-lint-staged lint --fix --, prettier --write

chore: added firebase hosting
  .eslintignore
  .firebaserc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/pull-request-main.yml
  .github/workflows/push-main.yml
  .github/workflows/push.yml
  .github/workflows/tag-creation.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  firebase.json
  src/assets/scully-routes.json
Due: prettier --write

ci: updated node version
  .github/workflows/pull-request-main.yml
  .github/workflows/push-main.yml
  .github/workflows/push.yml
  .github/workflows/tag-creation.yml
Due: none

feat: added provision for open-weather-map API key
  .eslintignore
  .github/workflows/pull-request-main.yml
  .github/workflows/push-main.yml
  .github/workflows/tag-creation.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .secrets.baseline
  .vscode/settings.json
  package-lock.json
  package.json
  src/environments/environment.prod.ts
  src/environments/environment.ts
  tools/set-env/set-env.tool.ts
Due: ng-lint-staged lint --fix --, prettier --write

chore: misc changes
  .github/workflows/pull-request-main.yml
  .github/workflows/push-main.yml
  .github/workflows/push.yml
  .github/workflows/tag-creation.yml
  package.json
Due: prettier --write

ci: fixed lint and format scripts
  package.json
Due: prettier --write

fix: fixed build issue and build budget
  angular.json
  src/assets/scully-routes.json
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: ng-lint-staged lint --fix --, prettier --write
